#  O Projeto de Insights Sobre o Mercado Imobiliário

### Objetivo

- O objetivo proncipal do trabalho é gerar insights sobre o mercado imobiliário através de uma análise exploratória de dados

### Contexto

- Exercendo um papel de Data Scientist nós temos o objetivo de encontrar as melhores oportunidades de negócio no mercado de imóveis. Máximizando a receita de um determinado cliente, encontrando boas oportunidade de negócio.

- A principal estratégia é comprar boas casas em ótimas localizações com preços baixos e depois revendê-las posteriormente à preços mais altos. Quanto maior a diferença entre a compra e a venda, maior o lucro do cliente que contratou o serviço de exploração de dados e portanto maior sua receita.

- Entretanto, as casas possuem muitos atributos que as tornam mais ou menos atrativas aos compradores e vendedores e a localização e o período do ano também podem influenciar os preços.

<strong>A ideia desse problema, foi baseada no [link](https://medium.com/@meigarom/os-5-projetos-de-data-science-que-far%C3%A1-o-recrutador-olhar-para-voc%C3%AA-c32c67c17cc9)</strong>

### Dados

- Os dados a serem utilzados sção fornecidos através do [link](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [1]:
import pandas as pd
df = pd.read_csv('./kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

Coluna    | Descrição
--------- | ------
<center>id</center>        | <center>Indenticação Imóvel</center>
<center>date</center>      | <center>Data de venda</center>
<center>price</center>     | <center>Preço Imóvel</center>
<center>bedroomss</center> | <center>Quantidade de quartos</center>
<center>bathrooms</center> | <center>Quantidade de Banheiros</center>
<center>sqft_living</center> | <center>Área reidencial em pés quadrados</center>
<center>sqft_lot</center>  | <center>Área total em pés quadrados</center>
<center>floors</center>    | <center>Quantidade de andares</center>
<center>waterfront</center> | <center>Possui vista para o mar? Boolean</center>
<center>view</center> | <center>índice de 0 a 4 para o quão bom foi a perspectiva do antigo proprietário</center>
<center>consdition</center> | <center>Condição do imóvel (valor de 1 a 5)</center>
<center>grade</center> | <center>Nota do imóvel (valor de 1 a 13)</center>
<center>sqft_above</center> | Área em pés quadrado a cima do chão (Não conta porões)
<center>sqft_basement</center> | <center>Área do porçao em pés quadrados</center>
<center>yr_built</center> | <center>Ano de construção do imóvel</center>
<center>yr_renovated</center> | <center>Ano da última reforma da casa (0 se nunca tiver sido reformado)</center>
<center>zipcode</center> | <center>CEP do imóvel</center>
<center>lat</center> | <center>Latitude</center>
<center>long</center> | <center>Longitude</center>
<center>sqft_living15<center/> | <center>Área residencial considerando 15 Vizinhos mais próximos</center>
<center>sqft_lot15</center> | <center>Área total do lote considerando 15 Vizinhos mais próximos</center>

### Perguntas Principais



- Quais casas o cliente que está contratando o serviço deveria comprar e por qual preço de compra?
- Uma vez a casa em posse da empresa, qual o melhor momento para vendê-las e qual seria o preço da venda?
- O cliente deveria fazer uma reforma para aumentar o preço da venda? Quais seriam as sugestões de mudanças? Qual o incremento no preço dado por cada opção de reforma?

### Hipóteses sobre o comportamento do negócio

- Casas com garagens são mais caras? Por quê?
- Casas com muitos quartos são mais caras? Por quê? A partir de quantos quartos o preço aumenta? Qual o incremento de preço por cada quarto adicionado?
- As casas mais caras estão no centro? Qual a região? Existe alguma coisa na região que tem correlação com valor de venda da casa? Shoppings? Montanhas? Pessoas Famosas?